tyro
einops
accelerate
gradio
imageio
imageio-ffmpeg
moviepy==1.0.3
wandb
lpips
matplotlib
packaging
Pillow
pygltflib
rembg[gpu,cli]
rich
safetensors
scikit-image
scikit-learn
scipy
tqdm
trimesh
kiui >= 0.2.3
xatlas
roma
plyfile
ftfy==6.2.0
jaxtyping==0.2.31
omegaconf==2.3.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
peft==0.11.1
transformers==4.28.1
typeguard==2.13.3
taming-transformers
timm==0.4.12
